# Ansible vault files or secrets
*.vault.yml
*.secret.yml
*.enc
*.key
vault.yml

# SSH keys
*.pem
*.key
.ssh/
github_wsl_ansible_skidbladnir
github_wsl_ansible_skidbladnir.pub

# Inventory files you want private
inventory/*.ini
inventory/*.yaml
inventory/*.yml

# Logs / temporary files
*.log
*.retry
*.tmp
*.bak
*.swp

# Other common ignores
*.tar.gz
*.zip
*.tar
*.tgz

# Python artifacts if you use scripts or roles
__pycache__/
*.pyc
